<a href="https://colab.research.google.com/github/harshchhaparwal/Harsh-Chhaparwal/blob/main/Panda's_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Creations of Data Frames
import pandas as pd
data = {"Name": ["John","Peter","Lisa"],"Age": [25,28,31],"Salary": [30000,45000,35000]}
df = pd.DataFrame(data)
print(df)

    Name  Age  Salary
0   John   25   30000
1  Peter   28   45000
2   Lisa   31   35000

In [ ]:
#Exploring Data in Pandas
import pandas as pd
data=pd.read_excel("(#file name)excel_data.xlsx")
print(data)

FileNotFoundError: [Errno 2] No such file or directory: 'excel_data.xlsx'

In [ ]:
#Handling Duplicate Data
data = pd.read_excel("(#file name)excel_data.xlsx")
data.drop_duplicates(inplace=True)
print(data)

In [ ]:
#Working with missing data in Pandas
data = pd.read_csv("(#file name)csv_data.csv")
data.dropna(inplace=True)
print(data.isnull().sum())
print(data)

In [ ]:
#Column Transformation in Pandas(Part-1)
data = pd.read_excel("(#file name)excel_data.xlsx")
print(data)
df.loc[(df["Bonus %"]==0),"Get Bonus"]="No Bonus"
df.loc[(df["Bonus %"]>0),"Get Bonus"]="Bonus"
print(df.head(10))

In [ ]:
#Column Transformation in Pandas(Part-2)
data = pd.read_excel("(#file name)excel_data.xlsx")
print(data)
data["Bonus"]=(data["Salary"]/100)*20
print(data)
data={"Months":["January","February","March"]}
a=pd.DataFrame(data)
print(a)
def extract(value):
  return value[0:3]
a["Short_Months"]=a["Months"].map(extract)
print(a)

IndentationError: expected an indented block after function definition on line 9 (ipython-input-4-1663191664.py, line 10)

In [ ]:
#Group BY in Pandas
data = pd.read_excel("(#file name)excel_data.xlsx")
print(data.head(10))
print(data.groupby("Department").agg({"Gender:","Count:"}))
print(gp)

In [ ]:
#Merge, Join and Concatenate in Pandas
data1={"Emp ID":["E101","E102","E103","E104","E105","E106"],"Names":["Ram","Shyam","Rahul","Vishal","Ravi"],"Age":[34,56,23,44,32]}
data2={"Emp ID":["E101","E102","E103","E104","E105","E106"],"Salary":[45000,56000,34000,30000,50000]}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
print(df1)
print()
print(df2)
print(pd.merge(left=df1,right=df2,on="Emp Id",how="right"))
print(pd.join(df1,df2))
print(pd.concat([df1,df2]))

In [ ]:
#Pandas compare DataFrames
dict={"Fruits":["Mango","Apples","Banana","Papaya"],"Price":[100,150,50,35],"Quantity":[15,10,10,3]}
df=pd.DataFrame(dict)
print(df1)
df2=df1.copy()
print(df2)
df2.loc[0,"Price"]=120
df2.loc[1,"Price"]=175
df2.loc[3,"Price"]=30
df2.loc[0,"Quantity"]=12
df2.loc[1,"Quantity"]=15
df2.loc[3,"Quantity"]=5
print(df2)
print(df1.compare(df2,align_axis=0))